@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<p>
    Competent in C/C++ and Java.<br>
    Familiar with Python.<br>
    Has some experience in using Arduino, HTML, CSS, Node.js, Git, Basys3/FPGA/Verilog, FRDM-KL25Z.<br>
    Interested in Embedded Systems, but still open to other forms of programming such as REST APIs and Android App Development.
</p>
<p>
    <h2>Contact info:</h2>
    Email: edmund_teo_wei_xin@yahoo.com.sg<br>
    Github: NotTheRealEdmund<br>
    Contact no: 83488870
</p>
