@page
@model ProjectModel
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h2>The A-maze-ing Race Project</h2>
    Constructed a programmable robot which finds its way through a maze in the shortest time while overcoming colour-sensing and sound-based challenges without colliding with the walls.
</p>
<p>
    <h2>Real-Time Audio Visualizer</h2>
    Created a real time voice and audio visualizer to capture human voice or audio signals using a PmodMIC3 MEMs microphone and display these signals on a VGA monitor.
</p>
<p>
    <h2>Alex to the Rescue</h2>
    Built a robotic vehicle with search and rescue functionalities which is tele-operated from a laptop and is capable of mapping out its environment to the operator using the Lidar.
</p>
<p>
    <h2>Duke command line based personal assistant</h2>
    Implemented a Coach Manager to help coaches easily keep track of the classes and students they are in charge of. The schedule can be viewed by the coach, and training plans can be adjusted as per requirements.
</p>
<p>
    <h2>RTOS-based robotic car</h2>
    Developed a robotic car which is controlled through an Android App using Bluetooth connection, and can control the various LEDs and play different tunes according to the car’s status.
</p>
